header.header
	.header__logo.wow.fadeInLeft Metastream#[span.header__logo-accent Labs]
	nav.header__nav.wow.fadeInRight
		ul.header__nav-list
			li.header__nav-list-item
				a.header__nav-list-item-link(href="#layout-2") Szolgáltatások
			li.header__nav-list-item
				a.header__nav-list-item-link(href="#layout-3") Rólunk
			li.header__nav-list-item
				a.header__nav-list-item-link(href="#layout-4") Előnyök
		a.header__nav-contact(href="#layout-5") Kapcsolat (Contacts)
	.header__burger.burger.wow.fadeInRight#headerSwitchNav
		.burger__item
		.burger__item
		.burger__item
