.layout-3#layout-3
	.wrap
		h2.layout-3__title.title-2 Önzetlenségnek tartjuk, bár mások fanatikusnak nevezhetnek minket
		p.layout-3__text Szenvedélyünk a legjobb digitális megoldások megtalálása ügyfeleink számára. Nem riadunk vissza a kihívásoktól. Hiszünk az upstream nyitottságban és az együttműködésben. Tanácsadással, tervezéssel és kivitelezéssel foglalkozunk, megfizethető, személyre szabott és végső soron sikeres digitális szolgáltatásokat nyújtva. Szeretjük a különböző szerepköröket különböző ügyfelek számára kombinálni. Arra vagyunk programozva, hogy ötleteljünk vagy kódoljunk, és gyakran mindkettőt megtesszük.
