.layout-5#layout-5
	.wrap
		.layout-5__main
			h2.layout-5__title.title-2 A kapcsolattartó személy
			.layout-5__address Aranyeső utca 8, 1184 Budapest, Hungary
			.layout-5__links
				a.layout-5__links-email(href="mailto:hello@metastreamlabs.com") hello@metastreamlabs.com
				a.layout-5__links-phone(href="tel:+36305264687") +36305264687
		include footer
