.layout-1
	.wrap
		include header
		.layout-1__main
			h1.layout-1__main-title.title-1 Kiváló minőségű digitális megoldásokat készítünk és valósítunk meg
			.layout-1__main-description Szenvedélyünk, láthatóságunk és műszaki hozzáértésünk előnyt jelent számunkra
