.promo
	.promo__info.wow.fadeInLeft
		h2.promo__info-title.title-2 Szoros és rugalmas együttműködés
		p.promo__info-text Megoldunk minden műszaki problémát, megszabadítva ügyfeleinket ezektől. A könnyű karbantartás megfelel digitális szolgáltatásaink minőségének. Hiszünk a hosszú távú partnerségekben. Dinamikus projektjeink részeként csapatunk tagjaiként együttműködünk az ügyfelekkel.
	.promo__picture.wow.fadeInRight(style="background-image: url('img/pict-promo-1.jpg');")
.promo.promo--mirror
	.promo__info.wow.fadeInLeft
		h2.promo__info-title.title-2 Sima átmenet egyik technológiáról a másikra
		p.promo__info-text Cégünk megtalálta a piaci rést, és nyugodtan kijelenthetjük, hogy vezető szerepet töltünk be szoftverünk platformként való kihasználásában, különösen a médiában. A technológiákat azonban mindig az egyes ügyfelek igényei szerint választjuk ki. Gondosan választjuk ki és igazítjuk a megoldásokat az adott projektek céljaihoz.
	.promo__picture.wow.fadeInRight(style="background-image: url('img/pict-promo-2.jpg');")
