ul.service-list
	li.service-list__item.wow.fadeInUp
		.service-list__item-text Műszaki tanácsadás
		img.service-list__item-icon(src="img/sprite.svg#i-service-card-1" alt="")
	li.service-list__item.wow.fadeInUp(data-wow-delay=".2s")
		.service-list__item-text Szoftverfejlesztés
		img.service-list__item-icon(src="img/sprite.svg#i-service-card-2" alt="")
	li.service-list__item.wow.fadeInUp(data-wow-delay=".4s")
		.service-list__item-text Ügyfélszolgálat és folyamatos fejlesztés
		img.service-list__item-icon(src="img/sprite.svg#i-service-card-3" alt="")
