html
{
	font-family: $font-main;
	font-size: 16px;
	color: $clr-white;
	@media (max-width: $media-768)
	{
		font-size: $rem * 12;
	}
	@media (max-width: $media-480)
	{
		font-size: $rem * 16;
	}
}
body
{
	&.body-cut
	{
		@media (max-width: $media-480)
		{
			height: 100vh;
			overflow: hidden;
		}
	}
}
.wrap
{
	width: 95%;
	margin: 0 auto;
	padding: 0 2.5%;
	box-sizing: border-box;
}
