@font-face
{
	font-family: 'GraphikLCG-Regular';
	src: url('../fonts/GraphikLCG/GraphikLCG-Regular.eot');
	src: url('../fonts/GraphikLCG/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GraphikLCG/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg'),
		 url('../fonts/GraphikLCG/GraphikLCG-Regular.ttf') format('truetype'),
		 url('../fonts/GraphikLCG/GraphikLCG-Regular.woff') format('woff'),
		 url('../fonts/GraphikLCG/GraphikLCG-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
